# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.opendb
*.blend1

# Exclude dependencies
dependencies/

# ImGui
imgui.ini

# VS Code
.vscode/

# Cmake
build/cmake/linux/
build/cmake/windows/
