# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.opendb
*.blend1

# Exclude dependencies
/Eriks_Wasp_Sim/dependencies/

# ImGui
imgui.ini

# Visual Studio
.vs/
/Eriks_Wasp_Sim/build/vs2022/.vs/
/Eriks_Wasp_Sim/build/vs2022/x64/Debug/*
/Eriks_Wasp_Sim/build/vs2022/Eriks_Wasp_Sim/

!/Eriks_Wasp_Sim/build/vs2022/x64/Debug/Eriks_Wasp_Sim.exe
!/Eriks_Wasp_Sim/build/vs2022/x64/Debug/freeglut.dll
!/Eriks_Wasp_Sim/build/vs2022/x64/Debug/glew32.dll

# Cmake
/Eriks_Wasp_Sim/build/cmake/build/